.DS_Store
node_modules/
yarn.lock
package-lock.json
yarn-error.log
.vscode/

build/*.*
!build/zero-core.js

src/libs.js
src/main.js

src/components/first.js
src/components/second.js
src/components/third.js
